2.5.2/NodeRedflows.json
[
    {
        "id": "0d31cb0cfd331688",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d9437c39416803a",
        "type": "mqtt in",
        "z": "0d31cb0cfd331688",
        "name": "",
        "topic": "channels/2778045/subscribe/fields/field1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "deb9b1c6bbeb0d9b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "c0574a8c5cd8a853",
                "b924b5e89ac3ae89",
                "d356677969cb3948"
            ]
        ]
    },
    {
        "id": "c0574a8c5cd8a853",
        "type": "debug",
        "z": "0d31cb0cfd331688",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "b924b5e89ac3ae89",
        "type": "ui_gauge",
        "z": "0d31cb0cfd331688",
        "name": "",
        "group": "8af94817e4499071",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#04a2d7",
            "#8c00a8",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "d356677969cb3948",
        "type": "ui_chart",
        "z": "0d31cb0cfd331688",
        "name": "",
        "group": "8af94817e4499071",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e814c094ec430b22",
        "type": "mqtt in",
        "z": "0d31cb0cfd331688",
        "name": "",
        "topic": "channels/2778045/subscribe/fields/field2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "deb9b1c6bbeb0d9b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 520,
        "wires": [
            [
                "d619f5223dcedb9f",
                "3badb73d9d6c90f8",
                "da8a735c0f793098"
            ]
        ]
    },
    {
        "id": "d619f5223dcedb9f",
        "type": "debug",
        "z": "0d31cb0cfd331688",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "3badb73d9d6c90f8",
        "type": "ui_gauge",
        "z": "0d31cb0cfd331688",
        "name": "",
        "group": "4a3d4d2182f8bb05",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff2e62",
            "#ce49e9",
            "#1c95f2"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "da8a735c0f793098",
        "type": "ui_chart",
        "z": "0d31cb0cfd331688",
        "name": "",
        "group": "4a3d4d2182f8bb05",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "deb9b1c6bbeb0d9b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "GREqDTQOAAwwADEgLhUjKAc",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8af94817e4499071",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "59ad1c26659f23a9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a3d4d2182f8bb05",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "59ad1c26659f23a9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59ad1c26659f23a9",
        "type": "ui_tab",
        "name": "Wether Station",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]